FileHub.com/Web References/localhost/SearchFile.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SearchByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="keyword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchByNameResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchByUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchByUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchByUserResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAccess">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Filename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Access" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAccessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateAccessResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchByNameSoapIn">
    <wsdl:part name="parameters" element="tns:SearchByName" />
  </wsdl:message>
  <wsdl:message name="SearchByNameSoapOut">
    <wsdl:part name="parameters" element="tns:SearchByNameResponse" />
  </wsdl:message>
  <wsdl:message name="SearchByUserSoapIn">
    <wsdl:part name="parameters" element="tns:SearchByUser" />
  </wsdl:message>
  <wsdl:message name="SearchByUserSoapOut">
    <wsdl:part name="parameters" element="tns:SearchByUserResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAccessSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAccess" />
  </wsdl:message>
  <wsdl:message name="UpdateAccessSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAccessResponse" />
  </wsdl:message>
  <wsdl:portType name="SearchFileSoap">
    <wsdl:operation name="SearchByName">
      <wsdl:input message="tns:SearchByNameSoapIn" />
      <wsdl:output message="tns:SearchByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchByUser">
      <wsdl:input message="tns:SearchByUserSoapIn" />
      <wsdl:output message="tns:SearchByUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccess">
      <wsdl:input message="tns:UpdateAccessSoapIn" />
      <wsdl:output message="tns:UpdateAccessSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SearchFileSoap" type="tns:SearchFileSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchByName">
      <soap:operation soapAction="http://tempuri.org/SearchByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByUser">
      <soap:operation soapAction="http://tempuri.org/SearchByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccess">
      <soap:operation soapAction="http://tempuri.org/UpdateAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SearchFileSoap12" type="tns:SearchFileSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchByName">
      <soap12:operation soapAction="http://tempuri.org/SearchByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByUser">
      <soap12:operation soapAction="http://tempuri.org/SearchByUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccess">
      <soap12:operation soapAction="http://tempuri.org/UpdateAccess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchFile">
    <wsdl:port name="SearchFileSoap" binding="tns:SearchFileSoap">
      <soap:address location="http://localhost/FileHub.com/SearchFile.asmx" />
    </wsdl:port>
    <wsdl:port name="SearchFileSoap12" binding="tns:SearchFileSoap12">
      <soap12:address location="http://localhost/FileHub.com/SearchFile.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>